/* jsTree side panel */
#jstree-panel {
  position: fixed;
  top: 84px;
  right: 16px;
  width: 360px;
  bottom: 16px;
  background: #ffffff;
  border-left: 1px solid #ccc;
  box-shadow: -2px 0 6px rgba(0,0,0,0.1);
  z-index: 5;
  overflow: auto;
  display: none;
  padding: 12px;
}

#jstree-panel.fullwidth {
  left: 16px !important;
  right: 16px !important;
  width: auto !important;
}
